In [ ]:
x=3
y=4

print(x+y)

7

In [ ]:
user_name=input("Name:")
print(f"Hello {user_name}")

Name:Cliffe
Hello Cliffe

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
product=num1*num2

print(product)

Enter first number:4
Enter second number:7
28

In [ ]:
name="Cliffe"
age=27
favorite_colour="red"

print(f"Name: {name}, age: {age}, favourite color: {favorite_colour}")

Name: Cliffe, age: 27, favourite color: red

In [ ]:
def rem(x, y):
  mod=x%y
  return mod

print(rem(4, 4))

0

In [ ]:
def temp_convertion(x):
  #	(0°C × 9/5) + 32 = 32°F
  far = (x * (9/5)) +32
  return far

temp = float(input("Enter Temp in Celsius: "))
far = temp_convertion(temp)

print(f"{temp} C is same as {far} F")

Enter Temp in Celsius: 23
23.0 C is same as 73.4 F

In [ ]:
def area(x,y):
  x=int(input("Input length:"))
  y=int(input("Input width: "))
  return x*y
print(f"Area: {area(5,4)}")

Input length:4
Input width: 7
Area: 28

In [ ]:
def int_sign(x):
  x=int(input("Enter a number:"))
  if x>0:
    print("positive")
  else:
    print("negative")

print(int_sign(x))

Enter a number:-5
negative
None

In [ ]:
def diff(x, y):
  if x>y:
    print(x)
  else:
    print(y)
x=int(input("Enter number: "))
y=int(input("Enter number: "))
print(diff(x, y))

Enter number: 5
Enter number: 4
5
None

LOOPS

In [ ]:
def loop(i):
  for i in range(1, 11):
    print(i)

print(loop(1))

1
2
3
4
5
6
7
8
9
10
None

In [ ]:
def even_loop(i):
  for i in range(1,21):
    if i%2 == 0:
      print(i)

print(even_loop(1))

2
4
6
8
10
12
14
16
18
20
None

In [ ]:
def even_loop(i):
  for i in range(1,21):
    if i%2 == 1:
      print(i)

print(even_loop(1))

1
3
5
7
9
11
13
15
17
19
None

In [ ]:
def name(full_name):
  count = 0
  while count < 5:
    print(full_name)
    count += 1

print(name("Cliffe"))

Cliffe
Cliffe
Cliffe
Cliffe
Cliffe
None

In [ ]:
total = 0
i = 1

while i <= 50:
    total += i
    i += 1

print(total)

1275

In [9]:
count = 11

while count >= 1:
  count -= 1
  print(count)

10
9
8
7
6
5
4
3
2
1
0

In [11]:
name = 'name'
for i in name:
  print(i)

n
a
m
e

In [12]:
num = int(input("Enter a number:"))
f=1
i=1

while i <= num:
  f *= i
  i += 1

print(f"factorial of {num} is {f}")

Enter a number:5
factorial of 5 is 120

In [13]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
num4 = int(input("Enter fourth number: "))
num5 = int(input("Enter fifth number: "))

print(f"The sum is {num1+num2+num3+num4+num5}")

Enter first number: 5
Enter second number: 8
Enter third number: 6
Enter fourth number: 7
Enter fifth number: 9
The sum is 35

In [27]:
def new_func():
  print("Hello World!")

print(new_func())

Hello World!
None

In [29]:
def sum(x, y):
  sum = x+y
  print(f"Sum is {sum}")

print(sum(5, 6))

Sum is 11
None

In [30]:
def int_check(x):
  if x%2==0:
    print("The number is even")
  else:
    print("The number is odd")

print(int_check(2))

The number is even
None

In [33]:
def square(x):
  product = x**2
  print(f"The square is {product}")

print(square(5))

The square is 25
None

In [34]:
def print_list(new_list):
  for i in new_list:
    print(i)

langs = ['python', 'java', 'scala']
print(print_list(langs))

python
java
scala
None

In [35]:
def uppercase(new_string):
  print(new_string.upper())

new_string = "diabolical"
print(uppercase(new_string))

DIABOLICAL
None

In [36]:
def length(new_string):
  print(len(new_string))

new_string = "diabolical"
print(length(new_string))

10
None

In [37]:
def hello(full_name):
  print(f"Hello {full_name}")

print(hello('Cliffe'))

Hello Cliffe
None

In [38]:
def int_size(x, y):
  if x > y:
    print(x)
  else:
    print(y)

print(int_size(10,25))

25
None

In [9]:
def sum_list(int_list):
  total = 0
  for i in int_list:
    total += i
  print(total)

int_list = (5,4,6,8)
print(sum_list(int_list))

23
None

In [6]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def info(self):
    print(f"Name: {self.name}; Age: {self.age}")

p1 = Person("Cliffe", 54)

print(p1.info())

Name: Cliffe; Age: 54
None

In [7]:
class Car:
  def __init__(self, brand, year):
    self.brand = brand
    self.year = year

  def info(self):
    print(f"Car brand: {self.brand}; Year of manufacture: {self.year}")

car1 = Car("BMW", 1999)
print(car1.info())

Car brand: BMW; Year of manufacture: 1999
None

In [12]:
class Dog:
  def __init__(self, sound):
    self.sound = sound

  def bark(self):
    print(f"{self.sound}")

Dog1 = Dog("Woof!")
print(Dog1.bark())

Woof!
None

In [13]:
class Student:
  def __init__(self, name, grade):
    self.name = name
    self.grade = grade

  def display_info(self):
    print(f"Name: {self.name}; Grade: {self.grade}")

s1 = Student("Cliffe", "B")
print(s1.display_info())

Name: Cliffe; Grade: B
None

In [15]:
class Calculator:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def sum(self):
    add = self.num1 + self.num2
    print(f"{add}")

n1 = Calculator(4,6)
print(n1.sum())

10
None