<a href="https://colab.research.google.com/github/Cliffe16/Lux-Dev-Data-Engineering-Repo/blob/main/Python_Test_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECTION A

In [29]:
name = "Cliffe"
print(name)

Cliffe

In [30]:
x = 4
y = 6

print(f"Sum: {x+y}; Difference: {x-y}; Product: {x*y}; Division: {x/y}")

Sum: 10; Difference: -2; Product: 24; Division: 0.6666666666666666

In [31]:
x=5
y=10

x = x+y
y = x-y
x = x-y

print(f"x: {x}; y: {y}")

x: 10; y: 5

In [32]:
age = int(input("Enter age:"))

if age >= 18:
  print("Adult")
else:
  print("Minor")

Enter age:54
Adult

In [33]:
text = "programming"

text.count("g")

2

In [34]:
string ="100"
num = int(string)
int_sum = num + 25

print(int_sum)

125

In [35]:
new_list =  [4, 9, 1, 7, 3]
print(max(new_list))

9

In [36]:
new_list = [1, 2, 3, 4, 5]
new_list.reverse()

print(new_list)

[5, 4, 3, 2, 1]

In [37]:
user_info = {"name": "Cliffe", "age": 51, "country": "Kenya"}
user_info["age"]

51

In [1]:
new_tuple = (4, 5, 6, 8)
new_list = list(new_tuple)
new_list

[4, 5, 6, 8]

SECTION B

In [2]:
num = int(input("Enter a number: "))

if num%2 == 0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number: 5
The number is odd

In [3]:
num = int(input("Enter a number: "))

if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number: 5
The number is positive

In [5]:
year = int(input("Enter year: "))

if year%4 == 0:
  print("The year is leap")
else:
  print("The year is non-leap")

Enter year: 2025
The year is non-leap

In [6]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1 > num2:
  print(f"{num1} is greater")
else:
  print(f"{num2} is greater")

Enter the first number: 5
Enter the second number: 7
7 is greater

In [8]:
marks = int(input("Enter Marks: "))

if marks >= 50:
    print("Pass")
else:
    print("Fail")

Enter Marks: 45
Fail

In [9]:
character = input("Enter character: ")
vowels = ("a", "e", "i", "o", "u")

if character in vowels:
  print("vowel")
else:
  print("consonant")

Enter character: z
consonant

In [10]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

numbers = (num1, num2, num3)

print(max(numbers))

Enter the first number: 4
Enter the second number: 5
Enter the third number: 3
5

Conditional solution

In [13]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if num1 > num2:
  print(f"{num1} is greatest")
elif num3 > num2:
  print(f"{num3} is greatest")
else:
  print(f"{num2} is greatest")

Enter the first number: 4
Enter the second number: 5
Enter the third number: 3
5 is greatest

In [16]:
num = int(input("Enter the number: "))

if num%3==0 and num%5==0:
  print("The number is divisible by both 3 and 5")
elif num%3==0:
  print("The number is  divisible by 3 only")
elif num%5==0:
  print("The number is  divisible by 5 only")
else:
  print("The number is not divisible")

Enter the number: 15
The number is divisible by both 3 and 5

SECTION C

In [17]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1, 21):
  if i%2==0:
    print(i)
  else:
     None

2
4
6
8
10
12
14
16
18
20

In [21]:
total = 0

for i in range(1,101):
  total += i

print(total)

5050

In [22]:
text = "PYTHON"

for i in text:
  print(i)

P
Y
T
H
O
N

In [24]:
count = 0

for i in range(1, 51):
  if i%5==0:
    count += 1
else:
  None

print(count)

10

In [1]:
new_list =("cars", "pencils", "utensils")

i=0
while i < len(new_list):
  print(new_list[i])
  i += 1

cars
pencils
utensils

In [2]:
num = int(input("Enter a number: "))
f = 1
i = 1

while i <= num:
  f *= i #f=i*f
  i += 1 # i=i+1

print(f"The factorial of {num} is {f}")

Enter a number: 7
The factorial of 7 is 5040

In [3]:
for i in range(1, 31):
  if i%2==0 and i%3==0:
    print(i)
  else:
    None

6
12
18
24
30

In [7]:
for i in range(1, 11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [33]:
for i in range(1, 4):
  for j in range(1, 4):
    print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

SECTION D

In [8]:
def greet():
  print("Hello World!")

print(greet())

Hello World!
None

In [9]:
def greeting(name):
  print(f"Hello {name}!")

print(greeting("Cliffe"))

Hello Cliffe!
None

In [10]:
def sum(x, y):
  return x+y

print(sum(4, 5))

9

In [13]:
def large(x, y, z):
  return max(x, y, z)

print(large(4, 8, 6))

8

In [21]:
def add_list(new_list):
  total = 0

  for i in new_list:
      total += i

  return total

new_list = (5,5,5,6)
print(add_list(new_list))

21

In [34]:
num = int(input("Enter number: "))

def prime(num):
  if num <= 1:
    return False

  if num in range(2, (num**0.5)+1):
    if num %i  == 0:
      return False

  return True

if prime(num):
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter number: 5

TypeError: 'float' object cannot be interpreted as an integer

In [23]:
####

Enter list: 4,5,6,7

ValueError: invalid literal for int() with base 10: '4,5,6,7'

In [ ]:
#####

SECTION E

In [29]:
class Person:
  def introduce(name, age):
    print(f"My name is {name} and I am {age} years old")

p1 = Person.introduce("Cliffe", 27)
print(p1)

My name is Cliffe and I am 27 years old
None

In [30]:
class Rectangle:
  def area(length, width):
    return length * width

a = Rectangle.area(15, 20)
print(a)

300

In [ ]:
class BankAccount:
  def deposit():
    pass

  def withdraw():
    pass

  def check_balance():
    pass

In [31]:
class Student:
  def grade(name, marks):
    if marks >= 50:
      print("Pass")
    else:
      print("Fail")

s = Student.grade("Cliffe", 59)
print(s)

Pass
None