<a href="https://colab.research.google.com/github/Cliffe16/Lux-Dev-Data-Engineering-Repo/blob/main/Python_Test_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECTION A

In [29]:
name = "Cliffe"
print(name)

Cliffe

In [30]:
x = 4
y = 6

print(f"Sum: {x+y}; Difference: {x-y}; Product: {x*y}; Division: {x/y}")

Sum: 10; Difference: -2; Product: 24; Division: 0.6666666666666666

In [31]:
x=5
y=10

x = x+y
y = x-y
x = x-y

print(f"x: {x}; y: {y}")

x: 10; y: 5

In [32]:
age = int(input("Enter age:"))

if age >= 18:
  print("Adult")
else:
  print("Minor")

Enter age:54
Adult

In [33]:
text = "programming"

text.count("g")

2

In [34]:
string ="100"
num = int(string)
int_sum = num + 25

print(int_sum)

125

In [35]:
new_list =  [4, 9, 1, 7, 3]
print(max(new_list))

9

In [36]:
new_list = [1, 2, 3, 4, 5]
new_list.reverse()

print(new_list)

[5, 4, 3, 2, 1]

In [37]:
user_info = {"name": "Cliffe", "age": 51, "country": "Kenya"}
user_info["age"]

51

In [1]:
new_tuple = (4, 5, 6, 8)
new_list = list(new_tuple)
new_list

[4, 5, 6, 8]

SECTION B