<a href="https://colab.research.google.com/github/Cliffe16/Lux-Dev-Data-Engineering-Repo/blob/main/Python_Test_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECTION A

In [29]:
name = "Cliffe"
print(name)

Cliffe

In [30]:
x = 4
y = 6

print(f"Sum: {x+y}; Difference: {x-y}; Product: {x*y}; Division: {x/y}")

Sum: 10; Difference: -2; Product: 24; Division: 0.6666666666666666

In [31]:
x=5
y=10

x = x+y
y = x-y
x = x-y

print(f"x: {x}; y: {y}")

x: 10; y: 5

In [32]:
age = int(input("Enter age:"))

if age >= 18:
  print("Adult")
else:
  print("Minor")

Enter age:54
Adult

In [33]:
text = "programming"

text.count("g")

2

In [34]:
string ="100"
num = int(string)
int_sum = num + 25

print(int_sum)

125

In [35]:
new_list =  [4, 9, 1, 7, 3]
print(max(new_list))

9

In [36]:
new_list = [1, 2, 3, 4, 5]
new_list.reverse()

print(new_list)

[5, 4, 3, 2, 1]

In [37]:
user_info = {"name": "Cliffe", "age": 51, "country": "Kenya"}
user_info["age"]

51

In [1]:
new_tuple = (4, 5, 6, 8)
new_list = list(new_tuple)
new_list

[4, 5, 6, 8]

SECTION B

In [2]:
num = int(input("Enter a number: "))

if num%2 == 0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number: 5
The number is odd

In [3]:
num = int(input("Enter a number: "))

if num > 0:
  print("The number is positive")
elif num < 0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number: 5
The number is positive

In [5]:
year = int(input("Enter year: "))

if year%4 == 0:
  print("The year is leap")
else:
  print("The year is non-leap")

Enter year: 2025
The year is non-leap

In [6]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num1 > num2:
  print(f"{num1} is greater")
else:
  print(f"{num2} is greater")

Enter the first number: 5
Enter the second number: 7
7 is greater

In [8]:
marks = int(input("Enter Marks: "))

if marks >= 50:
    print("Pass")
else:
    print("Fail")

Enter Marks: 45
Fail

In [9]:
character = input("Enter character: ")
vowels = ("a", "e", "i", "o", "u")

if character in vowels:
  print("vowel")
else:
  print("consonant")

Enter character: z
consonant

In [10]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

numbers = (num1, num2, num3)

print(max(numbers))

Enter the first number: 4
Enter the second number: 5
Enter the third number: 3
5

Conditional solution

In [13]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if num1 > num2:
  print(f"{num1} is greatest")
elif num3 > num2:
  print(f"{num3} is greatest")
else:
  print(f"{num2} is greatest")

Enter the first number: 4
Enter the second number: 5
Enter the third number: 3
5 is greatest

In [16]:
num = int(input("Enter the number: "))

if num%3==0 and num%5==0:
  print("The number is divisible by both 3 and 5")
elif num%3==0:
  print("The number is  divisible by 3 only")
elif num%5==0:
  print("The number is  divisible by 5 only")
else:
  print("The number is not divisible")

Enter the number: 15
The number is divisible by both 3 and 5