# 1. Extract (Getting the data into Python)

**Import pandas and load main_data.csv, metadata_country.csv, and population.csv.**

In [1]:
import pandas as pd

main_data_df = pd.read_csv('world_bank_data/main_data.csv')
metadata_country_df = pd.read_csv('world_bank_data/metadata_country.csv')
population_df = pd.read_csv('world_bank_data/population.csv')

**Print the number of rows and columns for each file.**

In [2]:
print(main_data_df.shape)
print(metadata_country_df.shape)
print(population_df.shape)

(211, 68)
(263, 4)
(216, 66)

**Show the first five rows from each DataFrame.**

In [3]:
print("Main Data:")
print(main_data_df.head(5))
print("Country Metadata:")
print(metadata_country_df.head(5))
print("Population:")
print(population_df.head(5))

Main Data:
  Country Name Country Code  1960  1961  1962  1963  1964  1965  1966  1967  \
0        Aruba          ABW   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  Afghanistan          AFG   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2       Angola          AGO   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3      Albania          ALB   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4      Andorra          AND   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   ...          2016          2017          2018          2019          2020  \
0  ...  2.983635e+09  3.092429e+09  3.276184e+09  3.395799e+09  2.558906e+09
1  ...  1.811657e+10  1.875346e+10  1.805322e+10  1.879944e+10  1.995593e+10
2  ...  5.276162e+10  7.369015e+10  7.945069e+10  7.089796e+10  4.850156e+10
3  ...  1.186120e+10  1.301973e+10  1.515642e+10  1.540183e+10  1.516273e+10
4  ...  2.896610e+09  3.000162e+09  3.218420e+09  3.155149e+09  2.891001e+09

           2021          2022          2023                     Region  \
0  3.103184e+09  3.544708e+09  3.598637e+09  Latin America & Caribbean
1  1.426650e+10  1.450216e+10  2.262420e+10                 South Asia
2  6.650513e+10  1.040000e+11  8.472296e+10         Sub-Saharan Africa
3  1.793057e+10  1.891638e+10  2.297768e+10      Europe & Central Asia
4  3.324683e+09  3.380602e+09  3.727674e+09      Europe & Central Asia

           IncomeGroup
0          High income
1           Low income
2  Lower middle income
3  Upper middle income
4          High income

[5 rows x 68 columns]
Country Metadata:
  Country Code                     Region          IncomeGroup  \
0          ABW  Latin America & Caribbean          High income
1          AFE                East Africa  Upper middle income
2          AFG                 South Asia           Low income
3          AFW                West Africa           Low income
4          AGO         Sub-Saharan Africa  Lower middle income

                     TableName
0                        Aruba
1  Africa Eastern and Southern
2                  Afghanistan
3   Africa Western and Central
4                       Angola
Population:
  Country Name Country Code     1960     1961     1962     1963     1964  \
0        Aruba          ABW    54608    55811    56682    57475    58178
1  Afghanistan          AFG  8622466  8790140  8969047  9157465  9355514
2       Angola          AGO  5357195  5441333  5521400  5599827  5673199
3      Albania          ALB  1608800  1659800  1711319  1762621  1814135
4      Andorra          AND     9443    10216    11014    11839    12690

      1965     1966      1967  ...      2014      2015      2016      2017  \
0    58782    59291     59522  ...    103594    104257    104874    105439
1  9565147  9783147  10010030  ...  32716210  33753499  34636207  35643418
2  5736582  5787044   5827503  ...  27128337  28127721  29154746  30208628
3  1864791  1914573   1965598  ...   2889104   2880703   2876101   2873457
4    13563    14546     15745  ...     71621     71746     72540     73837

       2018      2019      2020      2021      2022      2023
0    105962    106442    106585    106537    106445    106277
1  36686784  37769499  38972230  40099462  41128771  42239854
2  31273533  32353588  33428486  34503774  35588987  36684202
3   2866376   2854191   2837849   2811666   2777689   2745972
4     75013     76343     77700     79034     79824     80088

[5 rows x 66 columns]

**Check column names and datatypes in each DataFrame.**

In [4]:
print("Main Data:")
print(main_data_df.info())
print("Metadata Country:")
print(metadata_country_df.info())
print("Population")
print(population_df.info())

Main Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 68 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  211 non-null    object
 1   Country Code  211 non-null    object
 2   1960          103 non-null    float64
 3   1961          105 non-null    float64
 4   1962          107 non-null    float64
 5   1963          107 non-null    float64
 6   1964          107 non-null    float64
 7   1965          115 non-null    float64
 8   1966          116 non-null    float64
 9   1967          119 non-null    float64
 10  1968          120 non-null    float64
 11  1969          120 non-null    float64
 12  1970          140 non-null    float64
 13  1971          141 non-null    float64
 14  1972          141 non-null    float64
 15  1973          141 non-null    float64
 16  1974          141 non-null    float64
 17  1975          145 non-null    float64
 18  1976          145 non-null    float64
 19  1977          148 non-null    float64
 20  1978          147 non-null    float64
 21  1979          148 non-null    float64
 22  1980          155 non-null    float64
 23  1981          156 non-null    float64
 24  1982          158 non-null    float64
 25  1983          159 non-null    float64
 26  1984          161 non-null    float64
 27  1985          163 non-null    float64
 28  1986          163 non-null    float64
 29  1987          169 non-null    float64
 30  1988          172 non-null    float64
 31  1989          173 non-null    float64
 32  1990          188 non-null    float64
 33  1991          188 non-null    float64
 34  1992          191 non-null    float64
 35  1993          195 non-null    float64
 36  1994          196 non-null    float64
 37  1995          199 non-null    float64
 38  1996          199 non-null    float64
 39  1997          199 non-null    float64
 40  1998          200 non-null    float64
 41  1999          201 non-null    float64
 42  2000          202 non-null    float64
 43  2001          203 non-null    float64
 44  2002          206 non-null    float64
 45  2003          206 non-null    float64
 46  2004          206 non-null    float64
 47  2005          206 non-null    float64
 48  2006          207 non-null    float64
 49  2007          207 non-null    float64
 50  2008          209 non-null    float64
 51  2009          209 non-null    float64
 52  2010          209 non-null    float64
 53  2011          211 non-null    float64
 54  2012          211 non-null    float64
 55  2013          211 non-null    float64
 56  2014          211 non-null    float64
 57  2015          211 non-null    float64
 58  2016          211 non-null    float64
 59  2017          211 non-null    float64
 60  2018          211 non-null    float64
 61  2019          211 non-null    float64
 62  2020          211 non-null    float64
 63  2021          211 non-null    float64
 64  2022          211 non-null    float64
 65  2023          211 non-null    float64
 66  Region        211 non-null    object
 67  IncomeGroup   211 non-null    object
dtypes: float64(64), object(4)
memory usage: 112.2+ KB
None
Metadata Country:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  263 non-null    object
 1   Region        263 non-null    object
 2   IncomeGroup   263 non-null    object
 3   TableName     263 non-null    object
dtypes: object(4)
memory usage: 8.3+ KB
None
Population
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 66 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  216 non-null    object
 1   Country Code  216 non-null    object
 2   1960          216 non-null    int64
 3   1961          216 non-null    int64
 4   1962          216 non-null    int64
 5   1963          216 non-null    int64
 6   1964          216 non-null    int64
 7   1965          216 non-null    int64
 8   1966          216 non-null    int64
 9   1967          216 non-null    int64
 10  1968          216 non-null    int64
 11  1969          216 non-null    int64
 12  1970          216 non-null    int64
 13  1971          216 non-null    int64
 14  1972          216 non-null    int64
 15  1973          216 non-null    int64
 16  1974          216 non-null    int64
 17  1975          216 non-null    int64
 18  1976          216 non-null    int64
 19  1977          216 non-null    int64
 20  1978          216 non-null    int64
 21  1979          216 non-null    int64
 22  1980          216 non-null    int64
 23  1981          216 non-null    int64
 24  1982          216 non-null    int64
 25  1983          216 non-null    int64
 26  1984          216 non-null    int64
 27  1985          216 non-null    int64
 28  1986          216 non-null    int64
 29  1987          216 non-null    int64
 30  1988          216 non-null    int64
 31  1989          216 non-null    int64
 32  1990          216 non-null    int64
 33  1991          216 non-null    int64
 34  1992          216 non-null    int64
 35  1993          216 non-null    int64
 36  1994          216 non-null    int64
 37  1995          216 non-null    int64
 38  1996          216 non-null    int64
 39  1997          216 non-null    int64
 40  1998          216 non-null    int64
 41  1999          216 non-null    int64
 42  2000          216 non-null    int64
 43  2001          216 non-null    int64
 44  2002          216 non-null    int64
 45  2003          216 non-null    int64
 46  2004          216 non-null    int64
 47  2005          216 non-null    int64
 48  2006          216 non-null    int64
 49  2007          216 non-null    int64
 50  2008          216 non-null    int64
 51  2009          216 non-null    int64
 52  2010          216 non-null    int64
 53  2011          216 non-null    int64
 54  2012          216 non-null    int64
 55  2013          216 non-null    int64
 56  2014          216 non-null    int64
 57  2015          216 non-null    int64
 58  2016          216 non-null    int64
 59  2017          216 non-null    int64
 60  2018          216 non-null    int64
 61  2019          216 non-null    int64
 62  2020          216 non-null    int64
 63  2021          216 non-null    int64
 64  2022          216 non-null    int64
 65  2023          216 non-null    int64
dtypes: int64(64), object(2)
memory usage: 111.5+ KB
None

**Find how many unique countries exist in main_data.csv.**

In [5]:
print(f"No. of countries: {main_data_df['Country Name'].nunique()}")

No. of countries: 211

**Display all indicator names available in metadata_country.csv.**

In [6]:
print(metadata_country_df['Country Code'], metadata_country_df['TableName'])

0      ABW
1      AFE
2      AFG
3      AFW
4      AGO
      ...
258    XKX
259    YEM
260    ZAF
261    ZMB
262    ZWE
Name: Country Code, Length: 263, dtype: object 0                            Aruba
1      Africa Eastern and Southern
2                      Afghanistan
3       Africa Western and Central
4                           Angola
                  ...
258                         Kosovo
259                    Yemen, Rep.
260                   South Africa
261                         Zambia
262                       Zimbabwe
Name: TableName, Length: 263, dtype: object

The Indicator names columns does not exist

**Identify missing values in each dataset.**

In [7]:
print(main_data_df.isnull())
print(metadata_country_df.isnull())
print(population_df.isnull())

     Country Name  Country Code   1960   1961   1962   1963   1964   1965  \
0           False         False   True   True   True   True   True   True
1           False         False   True   True   True   True   True   True
2           False         False   True   True   True   True   True   True
3           False         False   True   True   True   True   True   True
4           False         False   True   True   True   True   True   True
..            ...           ...    ...    ...    ...    ...    ...    ...
206         False         False   True   True   True   True   True   True
207         False         False   True   True   True   True   True   True
208         False         False  False  False  False  False  False  False
209         False         False  False  False  False  False  False  False
210         False         False  False  False  False  False  False  False

      1966   1967  ...   2016   2017   2018   2019   2020   2021   2022  \
0     True   True  ...  False  False  False  False  False  False  False
1     True   True  ...  False  False  False  False  False  False  False
2     True   True  ...  False  False  False  False  False  False  False
3     True   True  ...  False  False  False  False  False  False  False
4     True   True  ...  False  False  False  False  False  False  False
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
206   True   True  ...  False  False  False  False  False  False  False
207   True   True  ...  False  False  False  False  False  False  False
208  False  False  ...  False  False  False  False  False  False  False
209  False  False  ...  False  False  False  False  False  False  False
210  False  False  ...  False  False  False  False  False  False  False

      2023  Region  IncomeGroup
0    False   False        False
1    False   False        False
2    False   False        False
3    False   False        False
4    False   False        False
..     ...     ...          ...
206  False   False        False
207  False   False        False
208  False   False        False
209  False   False        False
210  False   False        False

[211 rows x 68 columns]
     Country Code  Region  IncomeGroup  TableName
0           False   False        False      False
1           False   False        False      False
2           False   False        False      False
3           False   False        False      False
4           False   False        False      False
..            ...     ...          ...        ...
258         False   False        False      False
259         False   False        False      False
260         False   False        False      False
261         False   False        False      False
262         False   False        False      False

[263 rows x 4 columns]
     Country Name  Country Code   1960   1961   1962   1963   1964   1965  \
0           False         False  False  False  False  False  False  False
1           False         False  False  False  False  False  False  False
2           False         False  False  False  False  False  False  False
3           False         False  False  False  False  False  False  False
4           False         False  False  False  False  False  False  False
..            ...           ...    ...    ...    ...    ...    ...    ...
211         False         False  False  False  False  False  False  False
212         False         False  False  False  False  False  False  False
213         False         False  False  False  False  False  False  False
214         False         False  False  False  False  False  False  False
215         False         False  False  False  False  False  False  False

      1966   1967  ...   2014   2015   2016   2017   2018   2019   2020  \
0    False  False  ...  False  False  False  False  False  False  False
1    False  False  ...  False  False  False  False  False  False  False
2    False  False  ...  False  False  False  False  False  False  False
3    False  False  ...  False  False  False  False  False  False  False
4    False  False  ...  False  False  False  False  False  False  False
..     ...    ...  ...    ...    ...    ...    ...    ...    ...    ...
211  False  False  ...  False  False  False  False  False  False  False
212  False  False  ...  False  False  False  False  False  False  False
213  False  False  ...  False  False  False  False  False  False  False
214  False  False  ...  False  False  False  False  False  False  False
215  False  False  ...  False  False  False  False  False  False  False

      2021   2022   2023
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
211  False  False  False
212  False  False  False
213  False  False  False
214  False  False  False
215  False  False  False

[216 rows x 66 columns]

**Find all rows in main_data.csv where the year or value column is missing.**

In [8]:
print(main_data_df.isnull().sum())

Country Name      0
Country Code      0
1960            108
1961            106
1962            104
               ...
2021              0
2022              0
2023              0
Region            0
IncomeGroup       0
Length: 68, dtype: int64

**Check if every country code in main_data.csv appears in population.csv.**

In [9]:
country_code_exists = main_data_df['Country Code'].isin(population_df['Country Code'])
print(country_code_exists.all())

True

**Print all indicator codes that are in main_data.csv but not in metadata_country.csv.**

In [10]:
country_code_exists = main_data_df['Country Code'].isin(metadata_country_df['Country Code'])
print(country_code_exists.all())

True

# 2. Clean (Fixing messy data)

**Replace any “..” or empty strings in the value column with NaN.**

In [11]:
main_data_df_cleaned = main_data_df.replace("..", float('nan')).replace("", float('nan'))
metadata_country_df_cleaned = metadata_country_df.replace("..", float('nan')).replace("", float('nan'))
population_df_cleaned = population_df.replace("..", float('nan')).replace("", float('nan'))

**Convert the “value” column to numeric type (float).**

In [12]:
pop_convert = population_df_cleaned.columns.drop(['Country Name', 'Country Code'])
population_df_cleaned[pop_convert] = population_df_cleaned[pop_convert].astype(float)

main_convert = main_data_df_cleaned.columns.drop(['Country Name', 'Country Code', 'Region', 'IncomeGroup'])
main_data_df_cleaned[main_convert] = main_data_df_cleaned[main_convert].astype(float)

**Remove duplicate rows from main_data.csv.**

In [13]:
main_data_df_cleaned = main_data_df_cleaned.drop_duplicates()

**Trim extra spaces from all text columns.**

In [14]:
pop_text = population_df_cleaned.select_dtypes('object').columns
main_text = main_data_df_cleaned.select_dtypes('object').columns
country_text = metadata_country_df.columns

population_df_cleaned[pop_text] = population_df_cleaned[pop_text].apply(lambda x: x.str.strip())
main_data_df_cleaned[main_text] = main_data_df_cleaned[main_text].apply(lambda x: x.str.strip())
metadata_country_df[country_text] = metadata_country_df[country_text].apply(lambda x: x.str.strip())

**Standardize country names (for example, change “Kenia” → “Kenya”).**

In [15]:
main_data_df_cleaned['Country Name'] = main_data_df_cleaned['Country Name'].replace({"Cote d'Ivoire" : "Côte d'Ivoire"})
main_data_df_cleaned['Country Name'] = main_data_df_cleaned['Country Name'].replace({"Curacao" : "Curaçao"})
main_data_df_cleaned['Country Name'] = main_data_df_cleaned['Country Name'].replace({"Sao Tome and Principe" : "São Tomé and Principe"})
main_data_df_cleaned['Country Name'] = main_data_df_cleaned['Country Name'].replace({"Turkiye" : "Türkiye"})

**Remove rows with invalid years (not between 1960–2023).**

In [16]:
#Convert Data from wide to long format; Adding year and value as columns
main_data_df_cleaned = main_data_df_cleaned.melt(
    id_vars=['Country Name', 'Country Code', 'Region', 'IncomeGroup'],
    var_name='Year',
    value_name='Value'
)
population_df_cleaned = population_df_cleaned.melt(
    id_vars=['Country Name', 'Country Code'],
    var_name='Year',
    value_name='Value'
)

#Convert year to int
main_data_df_cleaned['Year'] = main_data_df_cleaned['Year'].astype(int)
population_df_cleaned['Year'] = population_df_cleaned['Year'].astype(int)

#Remove the rows
main_data_df_cleaned = main_data_df_cleaned[(main_data_df_cleaned['Year'] >= 1960) & (main_data_df_cleaned['Year'] <=2023)]
population_df_cleaned = population_df_cleaned[(population_df_cleaned['Year'] >= 1960) & (population_df_cleaned['Year'] <=2023)]

**Drop any columns that are completely empty.**

In [17]:
main_data_df_cleaned = main_data_df_cleaned.dropna(axis=1, how='all')
population_df_cleaned = population_df_cleaned.dropna(axis=1, how='all')
metadata_country_df_cleaned = metadata_country_df_cleaned.dropna(axis=1, how='all')

**Fill missing country codes using matches from country names.**

In [18]:
print(metadata_country_df_cleaned['Country Code'].isnull().sum())
print(main_data_df_cleaned['Country Code'].isnull().sum())
print(population_df_cleaned['Country Code'].isnull().sum())

#join country name and code
country_code_join = dict(zip(metadata_country_df_cleaned['TableName'], metadata_country_df_cleaned['Country Code']))

#country code map for main_data country names
country_code_map = main_data_df_cleaned['Country Name'].map(country_code_join)

#Fill the Nans with mapped country codes
main_data_df_cleaned['Country Code'] = main_data_df_cleaned['Country Code'].fillna(country_code_map)

0
0
0

**Save the cleaned version of each DataFrame to a new CSV file.**

In [19]:
main_data_df_cleaned.to_csv('world_bank_data/main_data_cleaned.csv')
metadata_country_df_cleaned.to_csv('world_bank_data/metadata_country_cleaned.csv')
population_df_cleaned.to_csv('world_bank_data/population_cleaned.csv')

#  3. Transform (Making the data useful)

**Merge main_data.csv with population.csv to add region and income level.**

In [20]:
main_population_df = pd.merge(main_data_df_cleaned, population_df_cleaned, on=['Country Name', 'Country Code', 'Year'], how='inner')

**Merge the result with metadata_country.csv to attach indicator descriptions.**

In [21]:
main_population_df.head()
main_population_df=main_population_df.rename(columns={"Value_x": "GDP", "Value_y": "Population"})

data_df = pd.merge(main_population_df, metadata_country_df_cleaned, on=['Country Code'], how='inner')

data_df.head()
data_df = data_df.drop(columns=['Region_x', 'IncomeGroup_x', 'Country Name'])
data_df = data_df.rename(columns = {'Region_y': 'Region', 'IncomeGroup_y': 'IncomeGroup', 'TableName': 'CountryName', 'Country Code': 'CountryCode'})
data_df.head()

,CountryCode,Year,GDP,Population,Region,IncomeGroup,CountryName
0,ABW,1960,NaN,54608.0,Latin America & Caribbean,High income,Aruba
1,AFG,1960,NaN,8622466.0,South Asia,Low income,Afghanistan
2,AGO,1960,NaN,5357195.0,Sub-Saharan Africa,Lower middle income,Angola
3,ALB,1960,NaN,1608800.0,Europe & Central Asia,Upper middle income,Albania
4,AND,1960,NaN,9443.0,Europe & Central Asia,High income,Andorra

**Create a new column showing GDP per capita change from the previous year.**

In [23]:
data_df['GDPperCapita'] = data_df['GDP']/ data_df['Population']

#Sort by country and year
data_df = data_df.sort_values(by=['CountryName', 'Year'])

#Group by country and calculate change
data_df['GDPperCapitaChange'] = data_df.groupby('CountryName')['GDPperCapita'].diff()

data_df.head(10)

,CountryCode,Year,GDP,Population,Region,IncomeGroup,CountryName,GDPperCapita,GDPperCapitaChange
1,AFG,1960,NaN,8622466.0,South Asia,Low income,Afghanistan,NaN,NaN
208,AFG,1961,NaN,8790140.0,South Asia,Low income,Afghanistan,NaN,NaN
415,AFG,1962,NaN,8969047.0,South Asia,Low income,Afghanistan,NaN,NaN
622,AFG,1963,NaN,9157465.0,South Asia,Low income,Afghanistan,NaN,NaN
829,AFG,1964,NaN,9355514.0,South Asia,Low income,Afghanistan,NaN,NaN
1036,AFG,1965,NaN,9565147.0,South Asia,Low income,Afghanistan,NaN,NaN
1243,AFG,1966,NaN,9783147.0,South Asia,Low income,Afghanistan,NaN,NaN
1450,AFG,1967,NaN,10010030.0,South Asia,Low income,Afghanistan,NaN,NaN
1657,AFG,1968,NaN,10247780.0,South Asia,Low income,Afghanistan,NaN,NaN
1864,AFG,1969,NaN,10494489.0,South Asia,Low income,Afghanistan,NaN,NaN

**Group the data by region and calculate the average GDP for 2020.**

In [30]:
data_20 = data_df[data_df['Year'] == 2020]
data_20.groupby('Region')['GDP'].mean()

pd.options.display.float_format = '{:,.2f}'.format

data_20.head()

,CountryCode,Year,GDP,Population,Region,IncomeGroup,CountryName,GDPperCapita,GDPperCapitaChange,Continent
12421,AFG,2020,"19,955,929,052.00","38,972,230.00",South Asia,Low income,Afghanistan,512.06,14.31,Asia
12423,ALB,2020,"15,162,734,205.00","2,837,849.00",Europe & Central Asia,Upper middle income,Albania,"5,343.04",-53.18,Europe
12472,DZA,2020,"165,000,000,000.00","43,451,666.00",Middle East & North Africa,Upper middle income,Algeria,"3,797.32",-722.02,Africa
12428,ASM,2020,"721,000,000.00","46,189.00",East Asia & Pacific,High income,American Samoa,"15,609.78","1,937.20",Asia
12424,AND,2020,"2,891,001,149.00","77,700.00",Europe & Central Asia,High income,Andorra,"37,207.22","-4,121.38",Europe

**Create a column continent using a dictionary that maps each region to a continent.**

In [31]:
continent_map = {'South Asia': 'Asia', 'Europe & Central Asia': 'Europe', 'Middle East & North Africa': 'Africa', 'East Asia & Pacific': 'Asia', 'Sub-Saharan Africa': 'Africa', 'Latin America & Caribbean': 'South America', 'North America': 'North America'}

data_df['Continent'] = data_df['Region'].map(continent_map)

**Sort the data by country and year.**

In [32]:
data_df.sort_values(by=['CountryName', 'Year'])

,CountryCode,Year,GDP,Population,Region,IncomeGroup,CountryName,GDPperCapita,GDPperCapitaChange,Continent
10351,AFG,2010,"15,856,668,556.00","28,189,672.00",South Asia,Low income,Afghanistan,562.50,109.11,Asia
10558,AFG,2011,"17,805,098,206.00","29,249,157.00",South Asia,Low income,Afghanistan,608.74,46.24,Asia
10765,AFG,2012,"19,907,329,778.00","30,466,479.00",South Asia,Low income,Afghanistan,653.42,44.68,Asia
10972,AFG,2013,"20,146,416,758.00","31,541,209.00",South Asia,Low income,Afghanistan,638.73,-14.68,Asia
11179,AFG,2014,"20,497,128,556.00","32,716,210.00",South Asia,Low income,Afghanistan,626.51,-12.22,Asia
...,...,...,...,...,...,...,...,...,...,...
11798,ZWE,2016,"20,548,678,100.00","14,452,704.00",Sub-Saharan Africa,Lower middle income,Zimbabwe,"1,421.79",11.46,Africa
12005,ZWE,2017,"17,584,890,937.00","14,751,101.00",Sub-Saharan Africa,Lower middle income,Zimbabwe,"1,192.11",-229.68,Africa
12212,ZWE,2018,"34,156,069,918.00","15,052,184.00",Sub-Saharan Africa,Lower middle income,Zimbabwe,"2,269.18","1,077.07",Africa
12419,ZWE,2019,"21,832,234,926.00","15,354,608.00",Sub-Saharan Africa,Lower middle income,Zimbabwe,"1,421.87",-847.31,Africa
12626,ZWE,2020,"21,509,698,406.00","15,669,666.00",Sub-Saharan Africa,Lower middle income,Zimbabwe,"1,372.70",-49.17,Africa

**Filter and keep only data for years 2010–2020.**

In [33]:
data_df = data_df[data_df['Year'].between(2010, 2020)]

**Create a small summary table showing the number of indicators per topic.**

In [38]:
data_df.groupby('IncomeGroup')['CountryName'].nunique()

IncomeGroup
High income            80
Low income             25
Lower middle income    48
Upper middle income    54
Name: CountryName, dtype: int64

**Round all numeric columns to two decimal places.**

In [39]:
numeric_cols = data_df.select_dtypes(include=['number']).columns
data_df[numeric_cols] = data_df[numeric_cols].round(2)

**Export this final cleaned dataset to a file called world_bank_cleaned.csv.**

In [40]:
data_df.to_csv('world_bank_cleaned.csv')

#  4. Load (Into PostgreSQL using psycopg2)

**Connect to PostgreSQL with psycopg2 and create a new database called worldbank_data.**

In [41]:
import psycopg2

con = psycopg2.connect(
    database='postgres',
    user='cliffe',
    password='BLOOMberg411**'
)

con.autocommit = True
cur = con.cursor()
try:
    cur.execute("""
                CREATE DATABASE worldbank_data;
                """)
except psycopg2.errors.DuplicateDatabase as e:
    print("Database already exists...skipping database creation")

**Write SQL code in Python to create tables:**

    countries (country_code, country_name, region, income_level)
    facts (country_code, indicator_code, year, value)

In [43]:
#Close postgres connection and connect to worldbank db 
con.close()
con = psycopg2.connect(
    database='worldbank_data',
    user='cliffe',
    password='BLOOMberg411**'
)

#Create new cursor for new connection
cur = con.cursor()
cur.execute("""
            CREATE TABLE countries(
                country_code TEXT,
                country_name TEXT,
                region TEXT,
                income_level TEXT);
            """)

cur.execute("""
            CREATE TABLE facts(
                country_code TEXT,
                indicator_code TEXT,
                year INT,
                value FLOAT
            );
            """)

**Insert rows from the cleaned DataFrames into these tables.**

**Use a transaction so that if one insert fails, everything rolls back.**

**Add a primary key to each table.**

**Write a Python function that loads data from a CSV file into a table automatically.**

**Verify that each table has the right number of rows after loading.**

**Print a confirmation message once all data is successfully loaded.**

**Create a simple log file that records when each ETL step ran.**

**Close the database connection safely at the end of the script.**

#  4. Load (Into PostgreSQL using psycopg2)