 Part 1: Data Cleaning in Python (10 Questions)

Load all CSV files into pandas and preview the first 5 rows of each.

In [1]:
#Import libraries
import pandas as pd

In [2]:
#Load the data
brands_df = pd.read_csv('bike_store_data/brands.csv')
categories_df = pd.read_csv('bike_store_data/categories.csv')
customers_df = pd.read_csv('bike_store_data/customers.csv')
order_items_df = pd.read_csv('bike_store_data/order_items.csv')
orders_df = pd.read_csv('bike_store_data/orders.csv')
products_df = pd.read_csv('bike_store_data/products.csv')
staffs_df = pd.read_csv('bike_store_data/staffs.csv')
stocks_df = pd.read_csv('bike_store_data/stocks.csv')
stores_df = pd.read_csv('bike_store_data/stores.csv')

In [3]:
#preview first five rows of each dataframe
print("Brands DataFrame:")
print(brands_df.head(5))
print("\nCategories DataFrame:")
print(categories_df.head(5))
print("\nCustomers DataFrame:")
print(customers_df.head(5))
print("\nOrder Items DataFrame:")
print(order_items_df.head(5))
print("\nOrders DataFrame:")
print(orders_df.head(5))
print("\nProducts DataFrame:")
print(products_df.head(5))
print("\nStaffs DataFrame:")
print(staffs_df.head(5))
print("\nStocks DataFrame:")
print(stocks_df.head(5))
print("\nStores DataFrame:")
print(stores_df.head(5))

Brands DataFrame:
   brand_id   brand_name
0         1      Electra
1         2         Haro
2         3       Heller
3         4  Pure Cycles
4         5      Ritchey

Categories DataFrame:
   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes

Customers DataFrame:
   customer_id  first_name last_name           phone                    email  \
0            1       Debra     Burks             NaN    debra.burks@yahoo.com
1            2       Kasha      Todd             NaN     kasha.todd@yahoo.com
2            3      Tameka    Fisher             NaN    tameka.fisher@aol.com
3            4       Daryl    Spence             NaN     daryl.spence@aol.com
4            5  Charolette      Rice  (916) 381-6003  charolette.rice@msn.com

                  street           city state  zip_code
0      9273 Thorne Ave.    Orchard Park    NY     14127
1       910 Vine Street        Campbell    CA     95008
2  769C Honey Creek St.   Redondo Beach    CA     90278
3        988 Pearl Lane       Uniondale    NY     11553
4         107 River Dr.      Sacramento    CA     95820

Order Items DataFrame:
   order_id  item_id  product_id  quantity  list_price  discount
0         1        1          20         1      599.99      0.20
1         1        2           8         2     1799.99      0.07
2         1        3          10         2     1549.00      0.05
3         1        4          16         2      599.99      0.05
4         1        5           4         1     2899.99      0.20

Orders DataFrame:
   order_id  customer_id  order_status  order_date required_date shipped_date  \
0         1          259             4  2016-01-01    2016-01-03   2016-01-03
1         2         1212             4  2016-01-01    2016-01-04   2016-01-03
2         3          523             4  2016-01-02    2016-01-05   2016-01-03
3         4          175             4  2016-01-03    2016-01-04   2016-01-05
4         5         1324             4  2016-01-03    2016-01-06   2016-01-06

   store_id  staff_id
0         1         2
1         2         6
2         2         7
3         1         3
4         2         6

Products DataFrame:
   product_id                        product_name  brand_id  category_id  \
0           1                     Trek 820 - 2016         9            6
1           2  Ritchey Timberwolf Frameset - 2016         5            6
2           3     Surly Wednesday Frameset - 2016         8            6
3           4            Trek Fuel EX 8 29 - 2016         9            6
4           5        Heller Shagamaw Frame - 2016         3            6

   model_year  list_price
0        2016      379.99
1        2016      749.99
2        2016      999.99
3        2016     2899.99
4        2016     1320.99

Staffs DataFrame:
   staff_id first_name last_name                       email           phone  \
0         1    Fabiola   Jackson  fabiola.jackson@bikes.shop  (831) 555-5554
1         2     Mireya  Copeland  mireya.copeland@bikes.shop  (831) 555-5555
2         3      Genna   Serrano    genna.serrano@bikes.shop  (831) 555-5556
3         4     Virgie   Wiggins   virgie.wiggins@bikes.shop  (831) 555-5557
4         5   Jannette     David   jannette.david@bikes.shop  (516) 379-4444

   active  store_id  manager_id
0       1         1         NaN
1       1         1         1.0
2       1         1         2.0
3       1         1         2.0
4       1         2         1.0

Stocks DataFrame:
   store_id  product_id  quantity
0         1           1        27
1         1           2         5
2         1           3         6
3         1           4        23
4         1           5        22

Stores DataFrame:
   store_id        store_name           phone                 email  \
0         1  Santa Cruz Bikes  (831) 476-4321  santacruz@bikes.shop
1         2     Baldwin Bikes  (516) 379-8888    baldwin@bikes.shop
2         3     Rowlett Bikes  (972) 530-5555    rowlett@bikes.shop

                street        city state  zip_code
0   3700 Portola Drive  Santa Cruz    CA     95060
1   4200 Chestnut Lane     Baldwin    NY     11432
2  8000 Fairway Avenue     Rowlett    TX     75088

Check and display the number of missing values per column.

In [4]:
print("Brands:")
print(brands_df.isnull().sum())
print("\nCategories:")
print(categories_df.isnull().sum())
print("\nCustomers:")
print(customers_df.isnull().sum())
print("\nOrder Items:")
print(order_items_df.isnull().sum())
print("\nOrders:")
print(orders_df.isnull().sum())
print("\nProducts:")
print(products_df.isnull().sum())
print("\nStaffs:")
print(staffs_df.isnull().sum())
print("\nStocks:")
print(stocks_df.isnull().sum())
print("\nStores:")
print(stores_df.isnull().sum())

Brands:
brand_id      0
brand_name    0
dtype: int64

Categories:
category_id      0
category_name    0
dtype: int64

Customers:
customer_id       0
first_name        0
last_name         0
phone          1267
email             0
street            0
city              0
state             0
zip_code          0
dtype: int64

Order Items:
order_id      0
item_id       0
product_id    0
quantity      0
list_price    0
discount      0
dtype: int64

Orders:
order_id           0
customer_id        0
order_status       0
order_date         0
required_date      0
shipped_date     170
store_id           0
staff_id           0
dtype: int64

Products:
product_id      0
product_name    0
brand_id        0
category_id     0
model_year      0
list_price      0
dtype: int64

Staffs:
staff_id      0
first_name    0
last_name     0
email         0
phone         0
active        0
store_id      0
manager_id    1
dtype: int64

Stocks:
store_id      0
product_id    0
quantity      0
dtype: int64

Stores:
store_id      0
store_name    0
phone         0
email         0
street        0
city          0
state         0
zip_code      0
dtype: int64

Rename all columns to lowercase and replace spaces with underscores.

In [5]:
brands_df.columns = brands_df.columns.str.lower().str.replace(' ', '_')
categories_df.columns = categories_df.columns.str.lower().str.replace(' ', '_')
customers_df.columns = customers_df.columns.str.lower().str.replace(' ', '_')
order_items_df.columns = order_items_df.columns.str.lower().str.replace(' ', '_')
orders_df.columns = orders_df.columns.str.lower() .str.replace(' ', "_")
products_df.columns = products_df.columns.str.lower().str.replace(' ', '_')
staffs_df.columns = staffs_df.columns.str.lower().str.replace(' ', '_')
stocks_df.columns = stocks_df.columns.str.lower().str.replace(' ', '_')
stores_df.columns = stores_df.columns.str.lower().str.replace(' ', '_')

Convert date columns (like order_date, shipped_date) to datetime objects.

In [6]:
orders_df.info()

orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])
orders_df['required_date'] = pd.to_datetime(orders_df['required_date'])
orders_df['shipped_date'] = pd.to_datetime(orders_df['shipped_date'])

orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   object
 4   required_date  1615 non-null   object
 5   shipped_date   1445 non-null   object
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
dtypes: int64(5), object(3)
memory usage: 101.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   datetime64[ns]
 4   required_date  1615 non-null   datetime64[ns]
 5   shipped_date   1445 non-null   datetime64[ns]
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
dtypes: datetime64[ns](3), int64(5)
memory usage: 101.1 KB

Remove duplicate rows from each dataset.

In [7]:
#Identify dupliacte rows
print("Brands:")
print(brands_df.duplicated().sum())
print("\nCategories:")
print(categories_df.duplicated().sum())
print("\nCustomers:")
print(customers_df.duplicated().sum())
print("\nOrder Items:")
print(order_items_df.duplicated().sum())
print("\nOrders:")
print(orders_df.duplicated().sum())
print("\nProducts:")
print(products_df.duplicated().sum())
print("\nStaffs:")
print(staffs_df.duplicated().sum())
print("\nStocks:")
print(stocks_df.duplicated().sum())
print("\nStores:")
print(stores_df.duplicated().sum())

Brands:
0

Categories:
0

Customers:
0

Order Items:
0

Orders:
0

Products:
0

Staffs:
0

Stocks:
0

Stores:
0

Standardize text columns like city or state names (title case, trimmed).

In [8]:
#Identify datatypes
print("Brands:")
print(brands_df.dtypes)
print("\nCategories:")
print(categories_df.dtypes)
print("\nCustomers:")
print(customers_df.dtypes)
print("\nOrder Items:")
print(order_items_df.dtypes)
print("\nOrders:")
print(orders_df.dtypes)
print("\nProducts:")
print(products_df.dtypes)
print("\nStaffs:")
print(staffs_df.dtypes)
print("\nStocks:")
print(stocks_df.dtypes)
print("\nStores:")
print(stores_df.dtypes)

customers_df['city'] = customers_df['city'].str.strip().str.title()
customers_df['state'] = customers_df['state'].str.strip().str.title()
stores_df['city'] = stores_df['city'].str.strip().str.title()
stores_df['state'] = stores_df['state'].str.strip().str.title()

Brands:
brand_id       int64
brand_name    object
dtype: object

Categories:
category_id       int64
category_name    object
dtype: object

Customers:
customer_id     int64
first_name     object
last_name      object
phone          object
email          object
street         object
city           object
state          object
zip_code        int64
dtype: object

Order Items:
order_id        int64
item_id         int64
product_id      int64
quantity        int64
list_price    float64
discount      float64
dtype: object

Orders:
order_id                  int64
customer_id               int64
order_status              int64
order_date       datetime64[ns]
required_date    datetime64[ns]
shipped_date     datetime64[ns]
store_id                  int64
staff_id                  int64
dtype: object

Products:
product_id        int64
product_name     object
brand_id          int64
category_id       int64
model_year        int64
list_price      float64
dtype: object

Staffs:
staff_id        int64
first_name     object
last_name      object
email          object
phone          object
active          int64
store_id        int64
manager_id    float64
dtype: object

Stocks:
store_id      int64
product_id    int64
quantity      int64
dtype: object

Stores:
store_id       int64
store_name    object
phone         object
email         object
street        object
city          object
state         object
zip_code       int64
dtype: object

Check for outliers in numeric columns such as list_price or quantity.

In [9]:
#Get statistical summary
order_items_df.quantity.describe()

count    4722.000000
mean        1.498941
std         0.500052
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         2.000000
Name: quantity, dtype: float64

In [10]:
#Get statistical summary
stocks_df.quantity.describe()

count    939.000000
mean      14.388711
std        8.832070
min        0.000000
25%        7.000000
50%       14.000000
75%       22.000000
max       30.000000
Name: quantity, dtype: float64

In [11]:
#Get statistical summary
order_items_df.list_price.describe()

count     4722.000000
mean      1212.707872
std       1352.798257
min         89.990000
25%        429.000000
50%        599.990000
75%       1549.000000
max      11999.990000
Name: list_price, dtype: float64

The difference between the 75th percentile and the max value is suspect

In [12]:
#Get statistical summary
products_df.list_price.describe()

count      321.000000
mean      1520.591402
std       1612.152765
min         89.990000
25%        439.990000
50%        761.990000
75%       2299.990000
max      11999.990000
Name: list_price, dtype: float64

Fill missing phone numbers or emails in the customers table with placeholders.

In [13]:
customers_df['phone'] = customers_df['phone'].fillna('5551234')

print("\nCustomers:")
print(customers_df.isnull().sum())

Customers:
customer_id    0
first_name     0
last_name      0
phone          0
email          0
street         0
city           0
state          0
zip_code       0
dtype: int64

Combine first and last name columns into a single full_name column.

In [14]:
customers_df["full_name" ] = customers_df['first_name'] + " " + customers_df['last_name']

Export cleaned dataframes back to CSV for upload.

In [17]:
brands_df.to_csv('brands_df.csv')
categories_df.to_csv('categories_df.csv')
customers_df.to_csv('customers_df.csv')
order_items_df.to_csv('order_items_df.csv')
orders_df.to_csv('orders_df.csv')
products_df.to_csv('products_df.csv')
staffs_df.to_csv('staffs_df.csv')
stocks_df.to_csv('stocks_df.csv')
stores_df.to_csv('stores_df.csv')

 Part 2: Uploading Data to PostgreSQL (10 Questions)
Install and import psycopg2 or SQLAlchemy for database connection.

Create a PostgreSQL database called bike_store.

Write Python code to create all tables in PostgreSQL using SQLAlchemy.

Upload cleaned CSV data into tables using pandas .to_sql().

Write Python code to verify the number of rows in each table.

Query and print 5 rows from the customers table in Python.

Automate the table upload process for all CSV files in one Python script.

Add indexes to common query columns using a Python connection.

Handle PostgreSQL connection errors gracefully in Python.

Write a Python function to verify all foreign key relationships.

Part 3: CASE Queries in SQL (10 Questions)
(No tutorials â€” pure SQL practice)
Write a CASE query to label orders as Late, On Time, or Early.

Categorize customers by state (East, West, Central).

Group products as Budget, Standard, or Premium based on list_price.

Flag staff as Active or Inactive using a CASE expression.

Label customers with Low, Medium, or High order volume.

Check whether each product is In Stock or Out of Stock.

Identify if a staff member manages a store.

Categorize discounts as No Discount, Low, or High.

Add a revenue tier column per store using CASE with SUM.

Mark products as Old or New based on model year.

 Part 4: Python + SQL Integration (10 Questions)
Write a Python function that runs a CASE query and returns a DataFrame.

Visualize order counts by category using matplotlib in Python.

Build a Streamlit dashboard showing total revenue by brand.

Automate running queries and saving results as daily reports.

Handle SQL exceptions in Python and log them.

Write a JOIN query combining orders, customers, and order_items from Python.

Add a CASE column in that query to label order status.

Aggregate and summarize revenue by brand and model year in Python.

Run a parameterized CASE query in Python (e.g., for a specific state).

Export final query results to Excel directly from Python.