# Part 1: Data Cleaning in Python (10 Questions)

**Load all CSV files into pandas and preview the first 5 rows of each.**

In [1]:
#Import libraries
import pandas as pd

In [2]:
#Load the data
brands_df = pd.read_csv('bike_store_data/brands.csv')
categories_df = pd.read_csv('bike_store_data/categories.csv')
customers_df = pd.read_csv('bike_store_data/customers.csv')
order_items_df = pd.read_csv('bike_store_data/order_items.csv')
orders_df = pd.read_csv('bike_store_data/orders.csv')
products_df = pd.read_csv('bike_store_data/products.csv')
staffs_df = pd.read_csv('bike_store_data/staffs.csv')
stocks_df = pd.read_csv('bike_store_data/stocks.csv')
stores_df = pd.read_csv('bike_store_data/stores.csv')

In [3]:
#preview first five rows of each dataframe
print("Brands DataFrame:")
print(brands_df.head(5))
print("\nCategories DataFrame:")
print(categories_df.head(5))
print("\nCustomers DataFrame:")
print(customers_df.head(5))
print("\nOrder Items DataFrame:")
print(order_items_df.head(5))
print("\nOrders DataFrame:")
print(orders_df.head(5))
print("\nProducts DataFrame:")
print(products_df.head(5))
print("\nStaffs DataFrame:")
print(staffs_df.head(5))
print("\nStocks DataFrame:")
print(stocks_df.head(5))
print("\nStores DataFrame:")
print(stores_df.head(5))

Brands DataFrame:
   brand_id   brand_name
0         1      Electra
1         2         Haro
2         3       Heller
3         4  Pure Cycles
4         5      Ritchey

Categories DataFrame:
   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes

Customers DataFrame:
   customer_id  first_name last_name           phone                    email  \
0            1       Debra     Burks             NaN    debra.burks@yahoo.com
1            2       Kasha      Todd             NaN     kasha.todd@yahoo.com
2            3      Tameka    Fisher             NaN    tameka.fisher@aol.com
3            4       Daryl    Spence             NaN     daryl.spence@aol.com
4            5  Charolette      Rice  (916) 381-6003  charolette.rice@msn.com

                  street           city state  zip_code
0      9273 Thorne Ave.    Orchard Park    NY     14127
1       910 Vine Street        Campbell    CA     95008
2  769C Honey Creek St.   Redondo Beach    CA     90278
3        988 Pearl Lane       Uniondale    NY     11553
4         107 River Dr.      Sacramento    CA     95820

Order Items DataFrame:
   order_id  item_id  product_id  quantity  list_price  discount
0         1        1          20         1      599.99      0.20
1         1        2           8         2     1799.99      0.07
2         1        3          10         2     1549.00      0.05
3         1        4          16         2      599.99      0.05
4         1        5           4         1     2899.99      0.20

Orders DataFrame:
   order_id  customer_id  order_status  order_date required_date shipped_date  \
0         1          259             4  2016-01-01    2016-01-03   2016-01-03
1         2         1212             4  2016-01-01    2016-01-04   2016-01-03
2         3          523             4  2016-01-02    2016-01-05   2016-01-03
3         4          175             4  2016-01-03    2016-01-04   2016-01-05
4         5         1324             4  2016-01-03    2016-01-06   2016-01-06

   store_id  staff_id
0         1         2
1         2         6
2         2         7
3         1         3
4         2         6

Products DataFrame:
   product_id                        product_name  brand_id  category_id  \
0           1                     Trek 820 - 2016         9            6
1           2  Ritchey Timberwolf Frameset - 2016         5            6
2           3     Surly Wednesday Frameset - 2016         8            6
3           4            Trek Fuel EX 8 29 - 2016         9            6
4           5        Heller Shagamaw Frame - 2016         3            6

   model_year  list_price
0        2016      379.99
1        2016      749.99
2        2016      999.99
3        2016     2899.99
4        2016     1320.99

Staffs DataFrame:
   staff_id first_name last_name                       email           phone  \
0         1    Fabiola   Jackson  fabiola.jackson@bikes.shop  (831) 555-5554
1         2     Mireya  Copeland  mireya.copeland@bikes.shop  (831) 555-5555
2         3      Genna   Serrano    genna.serrano@bikes.shop  (831) 555-5556
3         4     Virgie   Wiggins   virgie.wiggins@bikes.shop  (831) 555-5557
4         5   Jannette     David   jannette.david@bikes.shop  (516) 379-4444

   active  store_id  manager_id
0       1         1         NaN
1       1         1         1.0
2       1         1         2.0
3       1         1         2.0
4       1         2         1.0

Stocks DataFrame:
   store_id  product_id  quantity
0         1           1        27
1         1           2         5
2         1           3         6
3         1           4        23
4         1           5        22

Stores DataFrame:
   store_id        store_name           phone                 email  \
0         1  Santa Cruz Bikes  (831) 476-4321  santacruz@bikes.shop
1         2     Baldwin Bikes  (516) 379-8888    baldwin@bikes.shop
2         3     Rowlett Bikes  (972) 530-5555    rowlett@bikes.shop

                street        city state  zip_code
0   3700 Portola Drive  Santa Cruz    CA     95060
1   4200 Chestnut Lane     Baldwin    NY     11432
2  8000 Fairway Avenue     Rowlett    TX     75088

**Check and display the number of missing values per column.**

In [4]:
print("Brands:")
print(brands_df.isnull().sum())
print("\nCategories:")
print(categories_df.isnull().sum())
print("\nCustomers:")
print(customers_df.isnull().sum())
print("\nOrder Items:")
print(order_items_df.isnull().sum())
print("\nOrders:")
print(orders_df.isnull().sum())
print("\nProducts:")
print(products_df.isnull().sum())
print("\nStaffs:")
print(staffs_df.isnull().sum())
print("\nStocks:")
print(stocks_df.isnull().sum())
print("\nStores:")
print(stores_df.isnull().sum())

Brands:
brand_id      0
brand_name    0
dtype: int64

Categories:
category_id      0
category_name    0
dtype: int64

Customers:
customer_id       0
first_name        0
last_name         0
phone          1267
email             0
street            0
city              0
state             0
zip_code          0
dtype: int64

Order Items:
order_id      0
item_id       0
product_id    0
quantity      0
list_price    0
discount      0
dtype: int64

Orders:
order_id           0
customer_id        0
order_status       0
order_date         0
required_date      0
shipped_date     170
store_id           0
staff_id           0
dtype: int64

Products:
product_id      0
product_name    0
brand_id        0
category_id     0
model_year      0
list_price      0
dtype: int64

Staffs:
staff_id      0
first_name    0
last_name     0
email         0
phone         0
active        0
store_id      0
manager_id    1
dtype: int64

Stocks:
store_id      0
product_id    0
quantity      0
dtype: int64

Stores:
store_id      0
store_name    0
phone         0
email         0
street        0
city          0
state         0
zip_code      0
dtype: int64

**Rename all columns to lowercase and replace spaces with underscores.**

In [5]:
brands_df.columns = brands_df.columns.str.lower().str.replace(' ', '_')
categories_df.columns = categories_df.columns.str.lower().str.replace(' ', '_')
customers_df.columns = customers_df.columns.str.lower().str.replace(' ', '_')
order_items_df.columns = order_items_df.columns.str.lower().str.replace(' ', '_')
orders_df.columns = orders_df.columns.str.lower() .str.replace(' ', "_")
products_df.columns = products_df.columns.str.lower().str.replace(' ', '_')
staffs_df.columns = staffs_df.columns.str.lower().str.replace(' ', '_')
stocks_df.columns = stocks_df.columns.str.lower().str.replace(' ', '_')
stores_df.columns = stores_df.columns.str.lower().str.replace(' ', '_')

**Convert date columns (like order_date, shipped_date) to datetime objects.**

In [6]:
orders_df.info()

orders_df['order_date'] = pd.to_datetime(orders_df['order_date'])
orders_df['required_date'] = pd.to_datetime(orders_df['required_date'])
orders_df['shipped_date'] = pd.to_datetime(orders_df['shipped_date'])

orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   object
 4   required_date  1615 non-null   object
 5   shipped_date   1445 non-null   object
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
dtypes: int64(5), object(3)
memory usage: 101.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   datetime64[ns]
 4   required_date  1615 non-null   datetime64[ns]
 5   shipped_date   1445 non-null   datetime64[ns]
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
dtypes: datetime64[ns](3), int64(5)
memory usage: 101.1 KB

**Remove duplicate rows from each dataset.**

In [7]:
#Identify dupliacte rows
print("Brands:")
print(brands_df.duplicated().sum())
print("\nCategories:")
print(categories_df.duplicated().sum())
print("\nCustomers:")
print(customers_df.duplicated().sum())
print("\nOrder Items:")
print(order_items_df.duplicated().sum())
print("\nOrders:")
print(orders_df.duplicated().sum())
print("\nProducts:")
print(products_df.duplicated().sum())
print("\nStaffs:")
print(staffs_df.duplicated().sum())
print("\nStocks:")
print(stocks_df.duplicated().sum())
print("\nStores:")
print(stores_df.duplicated().sum())

Brands:
0

Categories:
0

Customers:
0

Order Items:
0

Orders:
0

Products:
0

Staffs:
0

Stocks:
0

Stores:
0

**Standardize text columns like city or state names (title case, trimmed).**

In [8]:
#Identify datatypes
print("Brands:")
print(brands_df.dtypes)
print("\nCategories:")
print(categories_df.dtypes)
print("\nCustomers:")
print(customers_df.dtypes)
print("\nOrder Items:")
print(order_items_df.dtypes)
print("\nOrders:")
print(orders_df.dtypes)
print("\nProducts:")
print(products_df.dtypes)
print("\nStaffs:")
print(staffs_df.dtypes)
print("\nStocks:")
print(stocks_df.dtypes)
print("\nStores:")
print(stores_df.dtypes)

customers_df['city'] = customers_df['city'].str.strip().str.title()
customers_df['state'] = customers_df['state'].str.strip().str.title()
stores_df['city'] = stores_df['city'].str.strip().str.title()
stores_df['state'] = stores_df['state'].str.strip().str.title()

Brands:
brand_id       int64
brand_name    object
dtype: object

Categories:
category_id       int64
category_name    object
dtype: object

Customers:
customer_id     int64
first_name     object
last_name      object
phone          object
email          object
street         object
city           object
state          object
zip_code        int64
dtype: object

Order Items:
order_id        int64
item_id         int64
product_id      int64
quantity        int64
list_price    float64
discount      float64
dtype: object

Orders:
order_id                  int64
customer_id               int64
order_status              int64
order_date       datetime64[ns]
required_date    datetime64[ns]
shipped_date     datetime64[ns]
store_id                  int64
staff_id                  int64
dtype: object

Products:
product_id        int64
product_name     object
brand_id          int64
category_id       int64
model_year        int64
list_price      float64
dtype: object

Staffs:
staff_id        int64
first_name     object
last_name      object
email          object
phone          object
active          int64
store_id        int64
manager_id    float64
dtype: object

Stocks:
store_id      int64
product_id    int64
quantity      int64
dtype: object

Stores:
store_id       int64
store_name    object
phone         object
email         object
street        object
city          object
state         object
zip_code       int64
dtype: object

**Check for outliers in numeric columns such as list_price or quantity.**

In [9]:
#Get statistical summary
order_items_df.quantity.describe()

count    4722.000000
mean        1.498941
std         0.500052
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         2.000000
Name: quantity, dtype: float64

In [10]:
#Get statistical summary
stocks_df.quantity.describe()

count    939.000000
mean      14.388711
std        8.832070
min        0.000000
25%        7.000000
50%       14.000000
75%       22.000000
max       30.000000
Name: quantity, dtype: float64

In [11]:
#Get statistical summary
order_items_df.list_price.describe()

count     4722.000000
mean      1212.707872
std       1352.798257
min         89.990000
25%        429.000000
50%        599.990000
75%       1549.000000
max      11999.990000
Name: list_price, dtype: float64

The difference between the 75th percentile and the max value is suspect

In [12]:
#Get statistical summary
products_df.list_price.describe()

count      321.000000
mean      1520.591402
std       1612.152765
min         89.990000
25%        439.990000
50%        761.990000
75%       2299.990000
max      11999.990000
Name: list_price, dtype: float64

**Fill missing phone numbers or emails in the customers table with placeholders.**

In [13]:
customers_df['phone'] = customers_df['phone'].fillna('5551234')

print("\nCustomers:")
print(customers_df.isnull().sum())

Customers:
customer_id    0
first_name     0
last_name      0
phone          0
email          0
street         0
city           0
state          0
zip_code       0
dtype: int64

**Combine first and last name columns into a single full_name column.**

In [14]:
customers_df["full_name" ] = customers_df['first_name'] + " " + customers_df['last_name']

**Export cleaned dataframes back to CSV for upload.**

In [15]:
brands_df.to_csv('brands_df.csv')
categories_df.to_csv('categories_df.csv')
customers_df.to_csv('customers_df.csv')
order_items_df.to_csv('order_items_df.csv')
orders_df.to_csv('orders_df.csv')
products_df.to_csv('products_df.csv')
staffs_df.to_csv('staffs_df.csv')
stocks_df.to_csv('stocks_df.csv')
stores_df.to_csv('stores_df.csv')

# Part 2: Uploading Data to PostgreSQL (10 Questions)
**Install and import psycopg2 or SQLAlchemy for database connection.**

In [16]:
import psycopg2
import sqlalchemy
from psycopg2 import sql
import os

**Create a PostgreSQL database called bike_store.**

In [17]:
#Create connection string
conn = psycopg2.connect(
    dbname="postgres",
    user="cliffe",
    password="BLOOMberg411**",
    host="localhost"
)

#Autocommit after very transaction
conn.autocommit = True

#Create cursor object
cur = conn.cursor()

#Create database
cur.execute(
    sql.SQL("CREATE DATABASE {} ").format(
        sql.Identifier('bike_store')
    )
)

#Close connections
cur.close()
conn.close()

print("Database 'bike_store' created successfully.")

Database 'bike_store' created successfully.

**Write Python code to create all tables in PostgreSQL using SQLAlchemy.**

In [18]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Date, Float
from sqlalchemy.orm import declarative_base     

#Setup connection engine
engine = create_engine('postgresql://cliffe:BLOOMberg411**@localhost/bike_store')

#Create Base class for all tables
Base = declarative_base()

#Define schemas
class Brand(Base):
    __tablename__ = 'brands'
    
    brand_id = Column(Integer, primary_key=True)
    brand_name = Column(String(25))
    
    def __repr__(self):
        return f"<Brand(name='{self.brand_name}')>"
    
class Category(Base):
    __tablename__ = 'categories'
    
    category_id = Column(Integer, primary_key=True)
    category_name = Column(String(100))
    
    def __repr__(self):
        return f"<Category(name='{self.category_name}')>"
    
class Customer(Base):
    __tablename__ = 'customers'
    
    customer_id = Column(Integer, primary_key = True)
    full_name = Column(String(50))
    first_name  = Column(String(20))
    last_name  = Column(String(20)) 
    phone = Column(String(15))
    email = Column(String(100))
    street = Column(String(100))
    city = Column(String(25))
    state = Column(String(25))
    zip_code = Column(String(10)) 
    
    def __repr__(self):
        return f"<Customer(name='{self.full_name}')>"
    
class Order_Item(Base):
    __tablename__ = 'order_items'
    
    order_id = Column(Integer, ForeignKey('orders.order_id'), primary_key=True)
    item_id = Column(Integer, primary_key=True)        
    product_id = Column(Integer, ForeignKey('products.product_id'))    
    quantity = Column(Integer)
    list_price = Column(Float)
    discount = Column(Float)
    
class Order(Base):
    __tablename__ = 'orders'
    
    order_id = Column(Integer, primary_key=True)
    customer_id = Column(Integer, ForeignKey('customers.customer_id'))               
    order_status = Column(Integer)
    order_date = Column(Date)      
    required_date = Column(Date)
    shipped_date = Column(Date)     
    store_id = Column(Integer, ForeignKey('stores.store_id'))                  
    staff_id  = Column(Integer, ForeignKey('staffs.staff_id'))                
    
class Product(Base):
    __tablename__ = 'products'
    
    product_id = Column(Integer,primary_key=True)       
    product_name = Column(String(100))    
    brand_id = Column(Integer, ForeignKey('brands.brand_id'))
    category_id = Column(Integer, ForeignKey('categories.category_id'))  
    model_year = Column(Integer)
    list_price = Column(Float)
    
    def __repr__(self):
        return f"<Product(name='{self.product_name}')>"
    
class Staff(Base):
    __tablename__ = 'staffs'
    
    staff_id = Column(Integer, primary_key=True)
    first_name  = Column(String(10))
    last_name  = Column(String(10))    
    email = Column(String(100))
    phone = Column(String(25))
    active = Column(Integer)
    store_id = Column(Integer, ForeignKey('stores.store_id'))       
    manager_id = Column(Float)
    
    def __repr__(self):
       return f"<Staff(name='{self.first_name}')>"
   
class Stock(Base): 
    __tablename__ = 'stocks' 
    
    store_id = Column(Integer, ForeignKey('stores.store_id'), primary_key=True)     
    product_id = Column(Integer, ForeignKey('products.product_id'), primary_key=True )
    quantity = Column(Integer)     

class Store(Base):
    __tablename__ = 'stores'  

    store_id = Column(Integer, primary_key=True)
    store_name = Column(String(255), nullable=False)
    phone = Column(String(25))
    email = Column(String(255))
    street = Column(String(255))
    city = Column(String(255))
    state = Column(String(100))
    zip_code = Column(String(10))

    def __repr__(self):
       return f"<Store(name='{self.store_name}')>"
   
#Call the Base class and it's child classes
Base.metadata.create_all(engine)   
print("Tables created")

Tables created

**Upload cleaned CSV data into tables using pandas .to_sql().**

In [19]:
#Upload tables with parents first
brands_df.to_sql('brands', con=engine, if_exists='append', index=False)
categories_df.to_sql('categories', con=engine, if_exists='append', index=False)
stores_df.to_sql('stores', con=engine, if_exists='append', index=False)
customers_df.to_sql('customers', con=engine, if_exists='append', index=False)
products_df.to_sql('products', con=engine, if_exists='append', index=False)
staffs_df.to_sql('staffs', con=engine, if_exists='append', index=False)
stocks_df.to_sql('stocks', con=engine, if_exists='append', index=False)
orders_df.to_sql('orders', con=engine, if_exists='append', index=False)
order_items_df.to_sql('order_items', con=engine, if_exists='append', index=False)

722

**Write Python code to verify the number of rows in each table.**

In [20]:
from sqlalchemy import text

table_name = [
    'brands', 'categories', 'customers', 'stores', 
    'staffs', 'products', 'stocks', 'orders', 'order_items'
]

with engine.connect() as connection:
    for table in table_name:
        query = text(f"SELECT COUNT(*) FROM {table}")
        
        count = connection.execute(query).scalar()
        
        print(f"{table}: {count} rows")

brands: 9 rows
categories: 7 rows
customers: 1445 rows
stores: 3 rows
staffs: 10 rows
products: 321 rows
stocks: 939 rows
orders: 1615 rows
order_items: 4722 rows

**Query and print 5 rows from the customers table in Python.**

In [21]:
query = text(f"SELECT * FROM customers LIMIT 5")
result = pd.read_sql(query, con=engine)
    
print(f"{result}")

   customer_id        full_name  first_name last_name           phone  \
0            1      Debra Burks       Debra     Burks         5551234
1            2       Kasha Todd       Kasha      Todd         5551234
2            3    Tameka Fisher      Tameka    Fisher         5551234
3            4     Daryl Spence       Daryl    Spence         5551234
4            5  Charolette Rice  Charolette      Rice  (916) 381-6003

                     email                 street           city state  \
0    debra.burks@yahoo.com      9273 Thorne Ave.    Orchard Park    Ny
1     kasha.todd@yahoo.com       910 Vine Street        Campbell    Ca
2    tameka.fisher@aol.com  769C Honey Creek St.   Redondo Beach    Ca
3     daryl.spence@aol.com        988 Pearl Lane       Uniondale    Ny
4  charolette.rice@msn.com         107 River Dr.      Sacramento    Ca

  zip_code
0    14127
1    95008
2    90278
3    11553
4    95820

**Automate the table upload process for all CSV files in one Python script.**

In [22]:
#Connect to db
engine = create_engine('postgresql://cliffe:BLOOMberg411**@localhost/bike_store')

#List the tables
tables = [
    'brands', 'categories', 'customers', 'stores', 
    'staffs', 'products', 'stocks', 'orders', 'order_items'
]

#print statement for logging
print("Started automated upload")

#loop through the tables to:
for table_name in tables:
    #1. construct the filename
    file_name = f"{table_name}.csv"
    
    #Log the reading process if the files exists
    if os.path.exists(file_name):
        print(f"Reading {file_name}")
        
        df = pd.read_csv(file_name)
        
        #2. Uplod to sql
        df.to_sql(table_name, con=engine, if_exists='append', index=False)
        print(f"Uploaded {len(df)} rows successfully to '{table_name}'")
        
    else:
        print(f"File '{file_name} not found in folder")
        
print("Automation complete")

Started automated upload
File 'brands.csv not found in folder
File 'categories.csv not found in folder
File 'customers.csv not found in folder
File 'stores.csv not found in folder
File 'staffs.csv not found in folder
File 'products.csv not found in folder
File 'stocks.csv not found in folder
File 'orders.csv not found in folder
File 'order_items.csv not found in folder
Automation complete

**Add indexes to common query columns using a Python connection.**

In [23]:
index_queries = [
    "CREATE INDEX IF NOT EXISTS idx_customers_city ON customers(city);",
    "CREATE INDEX IF NOT EXISTS idx_orders_date ON orders(order_date);",
    "CREATE INDEX IF NOT EXISTS idx_orders_customer_id ON orders(customer_id);",
    "CREATE INDEX IF NOT EXISTS idx_product_name ON products(product_name);"
]

with engine.connect() as connection:
    for query in index_queries:
        connection.execute(text(query))
        
print("Indexes added successfully")

Indexes added successfully

**Handle PostgreSQL connection errors gracefully in Python.**

In [24]:
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError

engine = create_engine('postgresql://cliffe:BLOOMberg411@localhost/bike_store')

try:
    with engine.connect() as connection:
        print("Connection successful")
        
except OperationalError as e:
    print(f"Connection failed. Error : {e}")

Connection failed. Error : (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "cliffe"
connection to server at "localhost" (127.0.0.1), port 5432 failed: FATAL:  password authentication failed for user "cliffe"

(Background on this error at: https://sqlalche.me/e/20/e3q8)

**Write a Python function to verify all foreign key relationships.**

In [26]:
from sqlalchemy import create_engine, inspect, text

#Define engine
engine = create_engine('postgresql://cliffe:BLOOMberg411**@localhost/bike_store')

def verify_fks(engine):
    #Create an inspector to read db schema
    inspector = inspect(engine)
    
    #Get tables in db
    table_names = inspector.get_table_names()
    
    #Initialize fk orphan counter
    issues_found = 0
    
    with engine.connect() as conn:
        for child_table in table_names:
            #get fks
            fks = inspector.get_foreign_keys(child_table)
            
            for fk in fks:
                child_col = fk['constrained_columns'][0]
                parent_table = fk['referred_table']
                parent_col = fk['referred_columns'][0]
                
                #Count child rows where ID is not in parent
                query = text(f"""
                            SELECT COUNT(*)
                            FROM {child_table} c
                                LEFT JOIN {parent_table} p
                                    ON c.{child_col}=p.{parent_col}
                            WHERE p.{parent_col} IS NULL;
                            """)
                #Run the query
                orphan_count = conn.execute(query).scalar()
                
                if orphan_count > 0:
                    print(f"INTEGRITY ERROR: Found {orphan_count} orphans in '{child_table}' referencing {parent_table}")
                    issues_found += 1
                
                else:
                    pass
    
    if issues_found == 0:
        print("No orphans found")
    else:
        print(f"Found {issues_found} integrity issues")
        
verify_fks(engine)

No orphans found

# Part 3: CASE Queries in SQL (10 Questions)(No tutorials â€” pure SQL practice)
**Write a CASE query to label orders as Late, On Time, or Early.**

In [27]:
query = f"""
    SELECT  order_id,
            required_date,
            shipped_date,
            CASE 
                WHEN required_date > shipped_date THEN 'Early'
                WHEN required_date < shipped_date THEN 'Late'
                ELSE 'On Time'
            END AS delivery_status
    FROM orders;
    """

result = pd.read_sql(query, con=engine)    
print(result)

      order_id required_date shipped_date delivery_status
0            1    2016-01-03   2016-01-03         On Time
1            2    2016-01-04   2016-01-03           Early
2            3    2016-01-05   2016-01-03           Early
3            4    2016-01-04   2016-01-05            Late
4            5    2016-01-06   2016-01-06         On Time
...        ...           ...          ...             ...
1610      1611    2018-09-06         None         On Time
1611      1612    2018-10-21         None         On Time
1612      1613    2018-11-18         None         On Time
1613      1614    2018-11-28         None         On Time
1614      1615    2018-12-28         None         On Time

[1615 rows x 4 columns]

**Categorize customers by state (East, West, Central).**

In [29]:
query = f"""
    SELECT full_name,
            CASE
                WHEN state IN ('Ny', 'Pa', 'Nj', 'Md', 'Ma', 'Ct', 'De') THEN 'East'
                WHEN state IN ('Ca', 'Wa', 'Or', 'Nv', 'Az', 'Ut', 'Co') THEN 'West'
                WHEN state IN ('Tx', 'Il', 'Oh', 'Mi', 'In', 'Ks', 'Mo', 'MN') THEN 'Central'
                ELSE 'Other'
            END AS region
    FROM customers;
    """

result = pd.read_sql(query, con=engine)
print(result)

            full_name region
0         Debra Burks   East
1          Kasha Todd   West
2       Tameka Fisher   West
3        Daryl Spence   East
4     Charolette Rice   West
...               ...    ...
1440  Jamaal Morrison   East
1441     Cassie Cline   East
1442      Lezlie Lamb   East
1443     Ivette Estes   East
1444    Ester Acevedo   West

[1445 rows x 2 columns]

**Group products as Budget, Standard, or Premium based on list_price.**

In [32]:
query = f"""
    SELECT product_name,
            list_price,
            CASE
                WHEN list_price <= 700.00 THEN 'Budget'
                WHEN list_price > 700.00 AND list_price <= 2300.00 THEN 'Standard'
                ELSE 'Premium'
            END AS cost
    FROM products
    ORDER BY list_price DESC;
    """
    
result = pd.read_sql(query, con=engine)    
print(result)

                               product_name  list_price     cost
0             Trek Domane SLR 9 Disc - 2018    11999.99  Premium
1             Trek Domane SLR 8 Disc - 2018     7499.99  Premium
2    Trek Domane SL Frameset Women's - 2018     6499.99  Premium
3            Trek Domane SL Frameset - 2018     6499.99  Premium
4          Trek Silque SLR 8 Women's - 2017     6499.99  Premium
..                                      ...         ...      ...
316                    Trek Kickster - 2018      159.99   Budget
317         Trek Boy's Kickster - 2015/2017      149.99   Budget
318             Trek Girl's Kickster - 2017      149.99   Budget
319          Sun Bicycles Lil Kitt'n - 2017      109.99   Budget
320  Strider Classic 12 Balance Bike - 2018       89.99   Budget

[321 rows x 3 columns]

**Flag staff as Active or Inactive using a CASE expression.**

In [35]:
query = f"""
    SELECT
        staff_id,
        first_name,
        last_name,
        CASE
            WHEN active = 1 THEN 'Active'
            ELSE 'Inactive'
        END AS employment_status
    FROM staffs;
"""

result = pd.read_sql(query, con=engine)
print(result)

   staff_id  first_name last_name employment_status
0         1     Fabiola   Jackson            Active
1         2      Mireya  Copeland            Active
2         3       Genna   Serrano            Active
3         4      Virgie   Wiggins            Active
4         5    Jannette     David            Active
5         6   Marcelene     Boyer            Active
6         7      Venita    Daniel            Active
7         8        Kali    Vargas            Active
8         9       Layla   Terrell            Active
9        10  Bernardine   Houston            Active

**Label customers with Low, Medium, or High order volume.**

In [ ]:
query = """
    WITH order_count_per_customer AS (
        SELECT
            customer_id,
            COUNT(order_id) AS order_count
        FROM orders
        GROUP BY customer_id
    )
    SELECT
        c.customer_id,
        c.full_name,
        o.order_count,
        CASE
            WHEN o.order_count <= 2 THEN 'Low'
            WHEN o.order_count BETWEEN 3 AND 5 THEN 'Medium'
            ELSE 'High'
        END AS order_volume
    FROM customers c
        JOIN order_count_per_customer o 
            ON c.customer_id = o.customer_id
    ORDER BY o.order_count DESC;
"""

result = pd.read_sql(query, con=engine)
print(result)

      customer_id            full_name  order_count order_volume
0              53     Saturnina Garner            3       Medium
1              43       Mozelle Carter            3       Medium
2              64        Bobbie Foster            3       Medium
3              46          Monika Berg            3       Medium
4              14       Garry Espinoza            3       Medium
...           ...                  ...          ...          ...
1440          257         Earl Stanley            1          Low
1441          258      Maribel William            1          Low
1442          259  Johnathan Velazquez            1          Low
1443          260      Rodrick Shelton            1          Low
1444          261          Ferne Kline            1          Low

[1445 rows x 4 columns]

**Check whether each product is In Stock or Out of Stock.**

In [ ]:
query = """
    SELECT
        p.product_name,
        SUM(s.quantity) AS total_stock,
        CASE
            WHEN SUM(s.quantity) > 0 THEN 'In Stock'
            ELSE 'Out of Stock'
        END AS stock_status
    FROM products p
        JOIN stocks s 
            ON p.product_id = s.product_id
    GROUP BY p.product_name
    ORDER BY total_stock ASC;
"""

result = pd.read_sql(query, con=engine)
print(result)

                                          product_name  total_stock  \
0                      Trek Domane SLR Frameset - 2018            5
1                       Electra Superbolt 1 20" - 2018            9
2                     Electra Cruiser 1 Ladies' - 2018           10
3                      Sun Bicycles Streamway 7 - 2017           11
4            Electra Amsterdam Original 3i - 2015/2017           11
..                                                 ...          ...
280                         Sun Bicycles Cruz 7 - 2017          115
281                   Electra Townie Commute 8D - 2018          119
282                  Electra Townie Go! 8i - 2017/2018          120
283  Electra Townie Balloon 8D EQ Ladies' - 2016/20...          121
284                  Electra Townie Original 7D - 2017          125

    stock_status
0       In Stock
1       In Stock
2       In Stock
3       In Stock
4       In Stock
..           ...
280     In Stock
281     In Stock
282     In Stock
283     In Stock
284     In Stock

[285 rows x 3 columns]

**Identify if a staff member manages a store.**

In [38]:
query = """
    SELECT
        s.staff_id,
        s.first_name,
        s.last_name,
        s.manager_id,
        CASE
            WHEN s.staff_id IN (
                SELECT DISTINCT manager_id 
                FROM staffs 
                WHERE manager_id IS NOT NULL
            ) THEN 'Store Manager'
            ELSE 'Staff'
        END AS role
    FROM staffs s
    ORDER BY s.staff_id
"""

result = pd.read_sql(query, con=engine)
print(result)

   staff_id  first_name last_name  manager_id           role
0         1     Fabiola   Jackson         NaN  Store Manager
1         2      Mireya  Copeland         1.0  Store Manager
2         3       Genna   Serrano         2.0          Staff
3         4      Virgie   Wiggins         2.0          Staff
4         5    Jannette     David         1.0  Store Manager
5         6   Marcelene     Boyer         5.0          Staff
6         7      Venita    Daniel         5.0  Store Manager
7         8        Kali    Vargas         1.0          Staff
8         9       Layla   Terrell         7.0          Staff
9        10  Bernardine   Houston         7.0          Staff

**Categorize discounts as No Discount, Low, or High.**

In [39]:
query = """
    SELECT
        order_id,
        item_id,
        discount,
        CASE
            WHEN discount = 0.00 THEN 'No Discount'
            WHEN discount > 0.00 AND discount <= 0.10 THEN 'Low'
            ELSE 'High'
        END AS discount_value
    FROM order_items
    ORDER BY discount DESC
"""

result = pd.read_sql(query, con=engine)
print(result)

      order_id  item_id  discount discount_value
0            1        1      0.20           High
1            1        5      0.20           High
2           11        3      0.20           High
3           15        4      0.20           High
4           16        1      0.20           High
...        ...      ...       ...            ...
4717      1216        2      0.05            Low
4718      1413        1      0.05            Low
4719      1335        1      0.05            Low
4720       822        1      0.05            Low
4721      1217        1      0.05            Low

[4722 rows x 4 columns]

**Add a revenue tier column per store using CASE with SUM.**

In [ ]:
query = """
    WITH revenue AS (
        SELECT
            o.store_id,
            SUM(i.quantity * i.list_price * (1.0 - i.discount)) AS total_revenue
        FROM orders o
            JOIN order_items i 
                ON o.order_id = i.order_id
        GROUP BY o.store_id
    )
    SELECT
        s.store_id,
        s.store_name,
        r.total_revenue,
        CASE
            WHEN r.total_revenue <= 1000000.00 THEN 'Low Revenue'
            WHEN r.total_revenue > 1000000.00 AND r.total_revenue <= 5000000.00 THEN 'Medium Revenue'
            ELSE 'High Revenue'
        END AS revenue_tier
    FROM stores s
        JOIN revenue r 
            ON s.store_id = r.store_id
    ORDER BY r.total_revenue DESC;
"""

pd.options.display.float_format = '{:,.2f}'.format

result = pd.read_sql(query, con=engine)
print(result)

   store_id        store_name  total_revenue    revenue_tier
0         2     Baldwin Bikes   5,215,751.28    High Revenue
1         1  Santa Cruz Bikes   1,605,823.04  Medium Revenue
2         3     Rowlett Bikes     867,542.24     Low Revenue

**Mark products as Old or New based on model year.**

In [46]:
query = """
    SELECT
        product_name,
        model_year,
        CASE
            WHEN model_year > 2018 THEN 'New'
            ELSE 'Old'
        END AS product_condition
    FROM products
    ORDER BY model_year DESC
"""

result = pd.read_sql(query, con=engine)
print(result)

                              product_name  model_year product_condition
0     Trek Checkpoint ALR 4 Women's - 2019        2019               New
1      Trek Checkpoint ALR Frameset - 2019        2019               New
2              Trek Checkpoint SL 6 - 2019        2019               New
3      Trek Checkpoint SL 5 Women's - 2019        2019               New
4     Trek Checkpoint ALR 5 Women's - 2019        2019               New
..                                     ...         ...               ...
316               Trek Fuel EX 8 29 - 2016        2016               Old
317        Surly Wednesday Frameset - 2016        2016               Old
318     Ritchey Timberwolf Frameset - 2016        2016               Old
319               Trek Slash 8 27.5 - 2016        2016               Old
320  Surly Ice Cream Truck Frameset - 2016        2016               Old

[321 rows x 3 columns]

# Part 4: Python + SQL Integration (10 Questions)
**Write a Python function that runs a CASE query and returns a DataFrame.**

**Visualize order counts by category using matplotlib in Python.**

**Build a Streamlit dashboard showing total revenue by brand.**

**Automate running queries and saving results as daily reports.**

**Handle SQL exceptions in Python and log them.**

**Write a JOIN query combining orders, customers, and order_items from Python.**

**Add a CASE column in that query to label order status.**

**Aggregate and summarize revenue by brand and model year in Python.**

**Run a parameterized CASE query in Python (e.g., for a specific state).**

**Export final query results to Excel directly from Python.**